<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<h1>{{ rxjCourse.description }}</h1>

<div class="courses">
<!-- Name of this html is the same as the name of the selector string-->
<course-card [course]="coreCourse"></course-card>
<!--Original HTML Static Design was removed below and copied to course-card.component.html-->
<!-- Card 2-->
<course-card [course]="rxjCourse"></course-card>

<!-- Card 3-->
<course-card [course]="ngrxCourse"></course-card>
    

</div>


